<li id="micropost-<%= micropost.id %>" data-micropost-id="<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <!-- micropost.imageでは画像表示、micropost.display_imageではherokuで画像表示できず -->
    <%= image_tag micropost.image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <% if current_user && !current_user?(micropost.user) %>
    <span class="react" id="react_form_<%= micropost.id %>">
      <% if micropost.react_users.include?(current_user) %>
        <%= render "microposts/un_react", micropost: micropost %>
      <% else %>
        <%= render "microposts/react", micropost: micropost %>
      <% end %>
    </span>
  <% end %>
</li>

